{%extends 'core/base.html'%}
{%load static%}
{% block title %}Inicio{% endblock %}

{% block bgr  %}
{%static 'core/assets/img/imagen.jpg' %}
{%endblock%}

{%block content%}
<div class="container marketing">


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Ropa Deportiva de Calidad <span class="text-muted">Para todos los entrenamientos.</span></h2>
        <p class="lead">En SurSports encontrarás conjuntos, camisetas y pantalones diseñados para ofrecer comodidad y rendimiento. Ideal para tus sesiones de padel o gimnasio.</p>
      </div>
      <div class="col-md-5">
        <img src="https://sursports.cl/cdn/shop/files/8_0015_Capa10copia_e1e3ebe8-421b-49eb-9d91-f6b47a4a9b77.jpg?v=1749509855&width=713" class="featurette-image img-fluid mx-auto" alt="Ropa Deportiva">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Palas Profesionales <span class="text-muted">Domina la cancha.</span></h2>
        <p class="lead">Contamos con palas para todos los niveles: desde principiantes hasta jugadores avanzados. Materiales de alta calidad y diseño pensado para mejorar tu rendimiento.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://sursports.cl/cdn/shop/files/pala-padel-nox-tl10-quantum-12kby-tino-libaak-2025-4.png?v=1754678967&width=713" class="featurette-image img-fluid mx-auto" alt="Palas de Padel">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Zapatillas Deportivas <span class="text-muted">Comodidad y estilo.</span></h2>
        <p class="lead">Nuestras zapatillas están diseñadas para ofrecer amortiguación, agarre y estilo. Perfectas para tus entrenamientos, partidos de padel y actividades deportivas diarias.</p>
      </div>
      <div class="col-md-5">
        <img src="https://sursports.cl/cdn/shop/files/zapatilla-nox-at10-pro-blanco-2.png?v=1756134380&width=713" class="featurette-image img-fluid mx-auto" alt="Zapatillas Deportivas">
      </div>
    </div>

    <hr class="featurette-divider">



</div>
{% endblock %}
